services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8081:80/tcp"
    environment:
      TZ: "Asia/Manila"
      WEBPASSWORD: "" #set to a password you want
    volumes:
      - ./config/pihole:/etc/pihole
      - ../docker/pihole/dnsmasq.d:/etc/dnsmasq.d #or change to ./config/dnsmasq.d:/etc/dnsmasq.d
    dns:
      - 1.1.1.1
      - 8.8.8.8
